* { 
	box-model: border-box; 
	font-family: 'helvetica', sans-serif; 
}

div.quiztastic {
	ul { list-style-type: none; }
	.question {
		overflow:hidden;
		h2 { margin:0px; padding:0px; }
		border:1px solid #eee;
		padding:32px;
		margin:12px;
		.answers {
			li {
				&:hover { font-weight:bold; }
			}
		}
		.explanation { visibility:hidden; }
		&.answered {
			.answers {
				opacity:0.2;
				height:0px;
			}
			.explanation { 
				visibility:visible;
				height:50px;
			}
		}
		&.correct { .explanation { color: green; }} 
		&.incorrect { .explanation { color: red; }}
	}

}
